@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* font-family: 'Press Start 2P', cursive; */
@font-face {
  font-family: 'Sansation';
  src: url('./fonts/SansationBold.woff2'),
    url('./fonts/SansationBold.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('./fonts/SansationRegular.woff'),
    url('./fonts/SansationRegular.woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('./fonts/NeueMachina-Bold.woff'),
    url('./fonts/NeueMachina-Bold.woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Sansation', sans-serif;
  letter-spacing: 0.02em;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.main-title {
  margin: 0;
  margin-bottom: 48px;
  font-family: 'Press Start 2P', cursive;
  font-size: 54px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: #F97700;
  text-shadow: 5px -5px 0 #000;
  text-align: center;
}

.section-title {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 54px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.basic-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
  color: #000;
}

.btn {
  display: block;
  padding: 20px 110px;
  background-color: #B0F056;
  border: 2px solid #000000;
  font-family: 'Neue Machina';
  font-size: 18px;
  line-height: 1.4;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background-color: #74a530;
}

.header {
  position: sticky;
  top: 0;
  z-index: 15;
  background: #fff;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo-holder {
  display: flex;
  align-items: center;
}

.logo-holder img {
  display: block;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #000;
}

.nav__list li {
  padding: 14px 30px;
  border-right: 2px solid #000;
}

.menu-icon-wrapper {
  display: none;
}

.hero {
  position: relative;
  height: calc(100vh - 194px);
  background-color: #4C40DB;
  background-image: url(./img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__img {
  display: none;
  position: absolute;
}

.container--hero {
  position: relative;
  height: calc(100vh - 210px)
}

.hero__content {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin: 0;
  margin-bottom: 48px;
  max-width: 800px;
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
}

.hero__text {
  margin-bottom: 64px;
  max-width: 688px;
  text-align: center;
}

.running-string {
  overflow: hidden;
  width: 100%;
}

.running-string li {
  font-family: 'Press Start 2P', cursive;
  font-size: 34px;
  padding: 0 70px !important;
  letter-spacing: 0.02em;
}

.ticker-spacer {
  width: 0 !important;
  display: none;
}

.reasons {
  padding-top: 125px;
  padding-bottom: 176px;
  background-color: #B0F056;
}

.reasons__content--mob {
  display: none;
}

.line-wrapper--top {
  display: flex;
  justify-content: space-between;
}

.reasons__block--small {
  width: 38%;
}

.reasons__title {
  padding-right: 10px;
  width: 60%;
  color: #F97700;
  text-shadow: -3px -2px 0 #000;
}

.reasons__title span {
  color: #000;
  text-shadow: -3px -2px 0 #F97700;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

.line-wrapper--middle .block__title {
  width: 50%;
}

.block__title {
  margin: 0;
  padding: 17px 80px;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  color: #000;
  letter-spacing: 0.02em;
  background-color: #F97700;
  border: 2px solid #000;
}

.text-wrapper {
  display: flex;
  justify-content: space-between;
}

.block__text {
  position: relative;
  padding: 38px 80px;
  background-color: #FEFEFE;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.block__title--small {
  width: 38%;
}

.block__title--big {
  width: 50%;
}

.block__title--second {
  padding-right: 30px;
  border-right: none;
}

.block__title--last {
  padding-right: 30px;
  border-top: none;
}

.block__text--big {
  padding-right: 129px;
  width: 50%;
}

.block__text--small {
  padding-right: 60px;
  width: 38%;
}

.block__text--first {
  padding-right: 60px;
  border-bottom: 0;
}

.text-wrapper--second p:first-child {
  border-right: none;
}

.text-wrapper--second p:first-child::after {
  position: absolute;
  content: "";
  width: 112px;
  height: 111px;
  right: 0;
  bottom: -19px;
  background-image: url(./img/icons/note1.png);
}

.line-wrapper--middle .title-wrapper .block__title:last-child {
  position: relative;
}

.line-wrapper--middle .title-wrapper .block__title:last-child::after {
  position: absolute;
  content: "";
  right: 0;
  transform: translateX(50%);
  bottom: 0;
  background-image: url(./img/icons/emp1.png);
  width: 129px;
  height: 93px;
}

.block__text--small::after {
  position: absolute;
  content: "";
  width: 121px;
  height: 121px;
  bottom: 0;
  right: 0;
  transform: translate(50%,30%);
  background-image: url(./img/icons/house1.png);
}

.block__text--last::after {
  position: absolute;
  content: "";
  width: 121px;
  height: 121px;
  top: 50%;
  right: 0;
  transform: translate(50%,-50%);
  background-image: url(./img/icons/speak1.png);
}

.quiz {
  position: relative;
  height: calc(100vh - 40px);
  padding-top: 104px;
  /* padding-bottom: 214px; */
  color: #FCF8F3;
  letter-spacing: 0.02em;
  background-color: #A760DE;
}

.quiz__title {
  margin: 0;
  margin-bottom: 64px;
  text-align: center;
  text-shadow: 5px -5px 0 #000;
}

.quiz__content {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}

/* .quiz p {
  margin-top: 0;
  font-size: 18px;
  font-family: 'Sansation', sans-serif;
} */

.quiz__text {
  margin-bottom: 60px;
}

.btn--quiz {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 0;
  width: 352px;
}

.img-left {
  position: absolute;
  left: 50px;
  bottom: 20%;
  width: 15%;
}

.img-right {
  position: absolute;
  right: 50px;
  bottom: 20%;
  width: 15%;
}

.hidden {
  display: none;
}

/* checkbox */

.checkbox {
  background-color: rgb(236, 62, 62);
}

.answers {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-top: 50px;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

.answers label {
  display: flex;
  align-items: center;
}

.answers label span {
  font-family: 'Sansation', sans-serif;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #FCF8F3;
}

.form-group {
  padding-right: 7px;
  width: 50%;
  display: block;
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/* .real-checkbox:focus + .custom-checkbox {
  box-shadow: 0 0 5px 2px rgb(138, 32, 32);
} */

.custom-checkbox {
  position: relative;
  margin-right: 32px;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 2px solid #FCF8F3;
  vertical-align: sub;
}

.custom-checkbox::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%) scale(0);
  transition: 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, 50%) scale(1);
}

/* ///////checkbox */

.answers-container {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.quiz__question-container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.quiz__instruction-container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.quiz__question {
  margin-bottom: 20px;
}

.quiz__title--blue {
  color: #4C40DB;
}

.btn--questions {
  position: relative;
  padding-right: 30px;
  background-color: transparent;
  border: 2px solid #FCF8F3;
  color: #FCF8F3;
}

.btn--questions::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(70%,-30%);
  width: 16px;
  height: 14px;
  background-image: url(./img/icons/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-wrapper--quiz {
  /* padding-right: 50px; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 130px;
  width: 352px;
}

.second-question {
  flex-direction: column;
  align-items: center;
}

.second-question .form-group {
  width: auto;
}

.alter-btn-wrapper {
  padding-top: 96px;
  display: flex;
  width: 608px;
  justify-content: space-between;
  align-items: center;
}

.btn--yes {
  padding-left: 75px;
  padding-right: 75px;
  background-color: transparent;
  border: 2px solid #FCF8F3;
  color: #FCF8F3;
}

.quiz__form {
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  background-color: #4C40DB;
}

.quiz__form-title {
  margin: 0;
  margin-bottom: 40px;
  width: 240px;
  text-align: center;
  font-family: 'Neue Machina', sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000;
}

.quiz__form-holder {
  display: flex;
}

.quiz__form-holder input {
  margin-right: 10px;
  padding: 10px 23px;
  display: block;
  background-color: #FEFEFE;
  border: 2px solid #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #828282;
}

.quiz__form-holder .btn {
  padding: 6px 30px;
}

.department {
  padding: 120px 0;
  background-color: #E5E5E5;
}

.department__title {
  margin: 0;
  margin-bottom: 66px;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: #F97700;
  text-align: center;
}

.department__title span {
  color: #A760DE;
}

.accord {
  border-bottom: 2px solid #000000;
}

.accord__block {
  position: relative;
  padding-bottom: 24px;
}

.accord__label {
  position: relative;
  margin: 0;
  padding-top: 16px;
  font-family: 'Press Start 2P', cursive;
  font-size: 33px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #E5E5E5;
  text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
  text-align: center;
  border-top: 2px solid #000000;
  cursor: pointer;
}

/* .accord__label:last-child {
  border-bottom: 2px solid #000000;
} */

.accord__label::after {
  background: none;
}

.accord__subtitle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  width: 350px;
  text-align: center;
}

.accord__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accord__content.active {
  padding-bottom: 30px;
}

.accord__content-wrapper {
  display: flex;
  justify-content: space-between;
}

.accord__block-title {
  margin: 0;
  margin-bottom: 12px;
}

.accord__block-title--schedule {
  margin-bottom: 46px;
}

.accord__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accord__item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 25px;
}

.accord__item::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  left: 0;
  background-image: url(./img/icons/point.svg);
}

.accord__item:last-child {
  margin-bottom: 0;
}

.accord__content-block--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.accord__price {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Neue Machina';
}

.accord__price::before {
  position: absolute;
  content: "";
  width: 27px;
  height: 27px;
  left: -35px;
  top: 50%;
  transform: translateY(-40%);
  background-image: url(./img/icons/e.svg);
  background-repeat: no-repeat;
}

.btn--orange {
  padding: 20px 44px;
  font-size: 20px;
  background-color:  #F97700;
}

.btn--orange:hover {
  background-color:  #d46a07;
}

.accord__block.active .accord__content {
  margin-top: 50px;
  height: 300px;
}

.accord__block.active .accord__label {
  color: #000;
  text-shadow: 3px -1px 0 #F97700;
}

.accord__label.active {
  margin-bottom: 30px;
}

.accord__label.active::after {
  position: absolute;
  content: "";
  width: 38px;
  height: 44px;
  right: 0;
  background-image: url(./img/icons/close.svg);
}

.hire {
  padding-top: 125px;
  padding-bottom: 145px;
  background-color: #A760DE;
}

.hire__title {
  margin: 0;
  margin-bottom: 73px;
  text-align: right;
  color: #B0F056;
  text-shadow: 5px -5px 0 #000;
}

.hire__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: repeat(4, 77px);
  grid-gap: 78px;
}

.hire__grid-box {
  position: relative;
  padding: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000;
}

.hire__grid-box::before {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-27%, -50%);
  color: #B0F056;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 54px;
  text-shadow: 5px -5px 0 #000;
}

.hire__grid-box::after {
  position: absolute;
  content: "";
  width: 67px;
  height: 47px;
  top: 50%;
  right: 0;
  transform: translate(30%,-50%);
  background-image: url(./img/icons/hire-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.box1 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.box1::before {
  content: "1";
}

.box1::after {
  transform: translate(50%) rotate(90deg);
}

.box2 {
  grid-row: 1/3;
}

.box2::before {
  content: "2";
}


.box3 {
  grid-row: 3/5;
}

.box3::before {
  content: "4";
}

.box4 {
  grid-row: 4/6;
}

.box4::before {
  content: "3";
}

.hire__box-title {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hire__content .hire__box-title {
  margin-bottom: 32px;
}

.response {
  padding-top: 82px;
  padding-bottom: 106px;
  background-color: #B0F056;
}

.response__title {
  margin-bottom: 64px;
  color: #A760DE;
  text-shadow: -4px -2px 0 #000;
}

.response__wrapper {
  display: flex;
  justify-content: space-between;
}

.response__content {
  margin-right: 30px;
  width: 390px;
}

.response__text {
  margin-bottom: 133px;
  margin-right: 20px;
}

.response__form {
  width: 640px;
}

.response__form label {
  display: block;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.response__form input {
  margin-bottom: 24px;
  padding: 24px 0;
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  font-family: 'Sansation', sans-serif;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #828282;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
}

.response__form input:focus,
.response__form input:active {
  outline: none;
}

.btn--form {
  padding: 20px 92px;
}

.feedback {
  padding-top: 100px;
  padding-bottom: 77px;
  background-color: #4C40DB;
}

.feedback .container {
  position: relative;
}

.feedback__title {
  margin-bottom: 80px;
  text-align: center;
  color: #B0F056;
  text-shadow: -3px -2px 0 #000;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__block {
  margin-bottom: 110px;
  width: 573px;
  border: 2px solid #000000;
}

.feedback__block:last-child {
  margin-bottom: 0;
}

.feedback__name {
  position: relative;
  margin: 0;
  padding: 16px 52px 16px 24px;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #222222;
  background-color: #fff;
  background: #F97700;
  border-bottom: 2px solid #000000;
}

.feedback__name::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(./img/icons/close-small.svg);
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.feedback__text {
  padding: 30px 80px 30px 24px;
  color: #222222;
  background-color: #FEFEFE;;
}

.feedback__name--green {
  background-color: #B0F056;
}

.feedback__img {
  position: absolute;
  bottom: 0;
}

.feedback__img--mob {
  display: none;
}

.feedback__img--left {
  left: 0;
  transform: translateX(-30%);
}

.feedback__img--right {
  right: 0;
  transform: translateX(30%);
}

.partners {
  padding-top: 90px;
  padding-bottom: 110px;
  background-color: #A760DE;
}

.partners__title {
  margin-bottom: 60px;
  text-align: center;
  color: #B0F056;
  text-shadow: -3px -2px 0 #000;
}

.partners__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
  column-gap: 32px;
}

.ratio {
  width: calc(33.33% - 21.33px);
  border: 2px solid #19141B;
}

.ratio-inner {
  position: relative;
  padding-top: 57%;
  height: 0;
  border: none;
}

.ratio-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ratio-content img {
  display: block;
}

.faq {
  padding-top: 170px;
  padding-bottom: 185px;
  background-color: #FCF8F3;
}

.faq__title {
  margin-bottom: 110px;
  color: #4C40DB;
  text-shadow: 0 -5px 0 #000;
}

.faq__wrapper {
  border-bottom: 2px solid #000000;
}

.faq__block {
  padding: 30px 0;
  border-top: 2px solid #000000;
}

.faq__label {
  position: relative;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  line-height: 1.5;
  cursor: pointer;
  transition: rotate 0.2s ease-in;
}

.faq__label::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 40px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(./img/icons/plus.svg);
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.faq__label.active::after {
  transform: translateY(-50%) rotate(45deg);
  transition: top 0.2s linear, transform 0.2s ease-in-out 0.2s;
}

.faq__text {
  color: #222222;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq__text.active {
  margin-top: 30px;
}

.footer {
  background-color: #FCF8F3;
}

.footer__wrapper {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.footer__wrapper:last-child {
  border: none;
}

.footer__line {
  display: flex;
}

.left-block {
  width: 25%;
  padding-right: 20px;
  border-right: 2px solid #000000;
}

.footer__logo-holder {
  display: flex;
  align-items: center;
  /* padding-right: 66px; */
}

.footer__block {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 48px 0 64px 32px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item {
  margin-bottom: 14px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer a {
  font-family: 'Sansation', sans-serif;
  font-size: 16px;
  color: #19141B;
  text-decoration: none;
}

.footer__adress {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer__adress a {
  margin-bottom: 8px;
  display: block;
}

.footer__adress p {
  margin: 0;
}